In [12]:
print("hello python")
a=input("enter the value ")
print(a                                                                                                                                                         )

hello python
enter the value 10
10

In [8]:
print("hello python")
a=input("enter the value")
print(a)

hello python
enter the value18
18

In [14]:
a=input("enter the value ")
b=int(a)
print(type(b))

enter the value 30
<class 'int'>